*{
  margin:0;
  padding:0;
  font-family: sans-serif;
}

.banner{
  width:100%;
  height:100vh;
  background-color: rgba(50, 106, 139, 0.679);
  background-size: cover;
  position: fixed;
}
.navbar{
  width:85%;
  margin:auto;
  padding:35px 35px;
 display:inline-block;
}
.logo{
  width:120px;
cursor: pointer;
}
.navbar ul li{
  padding:10px;
}
.navbar ul li a{
  color:white;
  text-decoration: none;
  text-transform: uppercase;
}
.title{
  width:100%;
  position:absolute;
  top:5%;
margin-left: 300px;
text-decoration: underline;
  color:white;
}
.title h1{
  font-size: 50px;
  margin-top: 20px;
}
.content{
margin-left: 250px;
margin-right: 250px;;
  position:absolute;
  top:20%;
  text-align: center;
  color:white;
}
.picture{
  width:350px;
margin-top: 17%;
margin-bottom: 30px;
}
.link{
  color:white;
  text-transform:uppercase;
  text-decoration: none;
}
table, th, td {
  border:1px solid black;
}